<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js" crossorigin></script>
</head>

<body>

    <!-- Placeholder for React app -->
    <div id="root"></div>

 <!-- Container Div -->
<div class="main-container">

    <!-- Form-changing buttons -->
    <div class="buttons">
        <div class="slider"></div>
        <button id="login-btn">Login</button>
        <button id="signup-btn">Signup</button>
    </div>

    <div class="form-container">

        <!-- Login Form -->
        <div class="form" id="login-form">
            <h2>Login</h2>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </div>
    
        <!-- Signup Form -->
        <div class="form" id="signup-form">
            <h2>Signup</h2>
            <input type="text" placeholder="Username" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <button type="submit">Signup</button>
        </div>
    </div>
        

</div>

    <script type="text/babel" src="../headerComponent.js"></script>

    <script type="text/babel">
        ReactDOM.render(<Header />, document.getElementById('root'));
    </script>
    <script src="../script.js"></script>
</body>

</html>
