################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fitness-tracker/FileContentIndex/cd6d1c53-896d-4d64-915d-ba015b1d0e64.vsidx
/.vs/New folder/v17/.wsuo
/.vs/Fitness-tracker/FileContentIndex/0f5b6d51-5bb8-4df8-ae66-2a297e2a4965.vsidx
/.vs/Fitness-tracker/FileContentIndex/7d80855c-be46-4357-a504-4674a40f269b.vsidx
/.vs/Fitness-tracker/v17/.suo
/bin/Debug/net7.0/Fitness-Tracker.dll
/bin/Debug/net7.0/Fitness-Tracker.exe
/bin/Debug/net7.0/Fitness-Tracker.pdb
/bin/Debug/net7.0/Fitness-Tracker.staticwebassets.runtime.json
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/Fitness-Tracker.AssemblyInfo.cs
/obj/Debug/net7.0/Fitness-Tracker.AssemblyInfoInputs.cache
/obj/Debug/net7.0/Fitness-Tracker.assets.cache
/obj/Debug/net7.0/Fitness-Tracker.csproj.AssemblyReference.cache
/obj/Debug/net7.0/Fitness-Tracker.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/Fitness-Tracker.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/Fitness-Tracker.dll
/obj/Debug/net7.0/Fitness-Tracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/Fitness-Tracker.genruntimeconfig.cache
/obj/Debug/net7.0/Fitness-Tracker.pdb
/obj/Debug/net7.0/Fitness-Tracker.RazorAssemblyInfo.cache
/obj/Debug/net7.0/Fitness-Tracker.sourcelink.json
/obj/Debug/net7.0/project.razor.vs.bin
/obj/Debug/net7.0/ref/Fitness-Tracker.dll
/obj/Debug/net7.0/refint/Fitness-Tracker.dll
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets.development.json
/obj/Debug/net7.0/staticwebassets.pack.json
/obj/Fitness-Tracker.csproj.nuget.dgspec.json
/obj/Fitness-Tracker.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Release/net7.0/Fitness-Tracker.AssemblyInfo.cs
/obj/Release/net7.0/Fitness-Tracker.AssemblyInfoInputs.cache
/obj/Release/net7.0/Fitness-Tracker.assets.cache
/obj/Release/net7.0/Fitness-Tracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net7.0/Fitness-Tracker.GlobalUsings.g.cs
/obj/Release/net7.0/Fitness-Tracker.RazorAssemblyInfo.cache
/obj/Release/net7.0/Fitness-Tracker.RazorAssemblyInfo.cs
/wwwroot/create-body.css
