################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fitness-tracker/FileContentIndex/cd6d1c53-896d-4d64-915d-ba015b1d0e64.vsidx
/.vs/New folder/v17/.wsuo
/.vs/Fitness-tracker/FileContentIndex/0f5b6d51-5bb8-4df8-ae66-2a297e2a4965.vsidx
/.vs/Fitness-tracker/FileContentIndex/7d80855c-be46-4357-a504-4674a40f269b.vsidx
/.vs/Fitness-tracker/v17/.suo
/bin/Debug/net7.0/Fitness-Tracker.dll
/bin/Debug/net7.0/Fitness-Tracker.exe
/bin/Debug/net7.0/Fitness-Tracker.pdb
/bin/Debug/net7.0/Fitness-Tracker.staticwebassets.runtime.json
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/Fitness-Tracker.AssemblyInfo.cs
/obj/Debug/net7.0/Fitness-Tracker.AssemblyInfoInputs.cache
/obj/Debug/net7.0/Fitness-Tracker.assets.cache
/obj/Debug/net7.0/Fitness-Tracker.csproj.AssemblyReference.cache
/obj/Debug/net7.0/Fitness-Tracker.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/Fitness-Tracker.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/Fitness-Tracker.dll
/obj/Debug/net7.0/Fitness-Tracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/Fitness-Tracker.genruntimeconfig.cache
/obj/Debug/net7.0/Fitness-Tracker.pdb
/obj/Debug/net7.0/Fitness-Tracker.RazorAssemblyInfo.cache
/obj/Debug/net7.0/Fitness-Tracker.sourcelink.json
/obj/Debug/net7.0/project.razor.vs.bin
/obj/Debug/net7.0/ref/Fitness-Tracker.dll
/obj/Debug/net7.0/refint/Fitness-Tracker.dll
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets.development.json
/obj/Debug/net7.0/staticwebassets.pack.json
/obj/Fitness-Tracker.csproj.nuget.dgspec.json
/obj/Fitness-Tracker.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Release/net7.0/Fitness-Tracker.AssemblyInfo.cs
/obj/Release/net7.0/Fitness-Tracker.AssemblyInfoInputs.cache
/obj/Release/net7.0/Fitness-Tracker.assets.cache
/obj/Release/net7.0/Fitness-Tracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net7.0/Fitness-Tracker.GlobalUsings.g.cs
/obj/Release/net7.0/Fitness-Tracker.RazorAssemblyInfo.cache
/obj/Release/net7.0/Fitness-Tracker.RazorAssemblyInfo.cs
/.vs/Fitness-tracker/FileContentIndex/19454fdb-03db-4290-a023-f85a0868c0c8.vsidx
/.vs/Fitness-tracker/FileContentIndex/1fd0cd29-a16f-4bff-bbd8-755b766b0210.vsidx
/.vs/Fitness-tracker/FileContentIndex/6f0f1ea5-d2ae-44cb-8056-84d5934bb06d.vsidx
/.vs/Fitness-tracker/FileContentIndex/a953b4ba-0ac0-4fb3-99f1-e4cb8916ef86.vsidx
/.vs/Fitness-tracker/FileContentIndex/bf2ff268-8c4c-4fc4-b57a-5c120ce012ca.vsidx
/.vs/Fitness-tracker/FileContentIndex/d1254bf9-bb7b-4df6-955b-658ccace7e62.vsidx
/.vs/Fitness-tracker/FileContentIndex/e5038a18-34dd-4a2f-a92a-9dc8c876adf9.vsidx
/Fitness-Tracker.csproj
