################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Fitness-tracker/FileContentIndex/cd6d1c53-896d-4d64-915d-ba015b1d0e64.vsidx
/.vs/New folder/v17/.wsuo
