
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    
    <!--Testimonial-->
    <section id="testimonial" class="testimonial-container">
        <div class="testimonial-content">
            <h2>
                "I've been visiting this page so much it changed my eating habits for the better. It is truly great. <br>
                Combining the meal plan from this website with your workout is a guarantee for best results. "
            </h2>
            <img src="/css/Images/testimonial-client.jpg" alt="smiling person" class="testimonial-image">
            <p class="testimonial-author"> Ryan Goldberg, UK</p>
        </div>
    </section>

    <!--Subscription plan-->

    <section id="pricing">
        <div class="pricing-container">
            <div class="pricing-header">
                <h2 class="display-4 text-body-emphasis"><b>A Plan for Every User's Needs</b></h2>
                <p class="fs-5 text-body-secondary">Simple and affordable price plans for you.</p>
            </div>
            <div class="row-cols-1">
                <div class="card">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Trial</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>BMI Calculator</li>
                            <li>One Recipe</li>
                            <li>Unlimited Site Usage</li>
                        </ul>
                        <button type="button" class="btn btn-outline-dark">Sign up for free</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Basic</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$30<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>BMI Calculator</li>
                            <li>Personal Meal Plan</li>
                            <li>Unlimited Site Usage</li>
                        </ul>
                        <button type="button" class="btn btn-dark">Get started</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Privileged</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$90<small class="text-body-secondary fw-light">/mo</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>BMI Calculator</li>
                            <li>Personal Meal Plan, Personal Trainer</li>
                            <li>Unlimited Site Usage</li>
                        </ul>
                        <button type="button" class="btn btn-dark">Contact us</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

