<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js" crossorigin></script>
    <script type="text/babel" src="../headerComponent.js"></script>
    <script type="text/babel" src="home-carousel.js"></script>

    <title>Fitness tracker</title>
</head>
<body>

    <div id="root"></div>

    <div id="carousel"></div>

    <script type="text/babel">
        const images = [
          '../Images/image1.jpg',
          '../Images/image2.jpg',
          '../Images/image3.jpg',
        ];

        ReactDOM.render(React.createElement(Header), document.getElementById('root'));
        ReactDOM.render(React.createElement(Carousel, { images }), document.getElementById('carousel'));

    </script>

    <script type="text/babel" src="../script.js"></script>

    <footer>
        <div class="row">
            <div class="col">
                <img src="../Images/fitness.png" alt="logo" class="logo">
                <p>Fitness Tracker - the only place where you can see that being healthy is easy.  <br>
                    And you can achieve the best results by simply following the meal plan. </p>
            </div>
            <div class="col">
                <h3>Our Location <div class="underline"><span></span></div>
                </h3>
                <p>Bulgaria blvd,</p>
                <p>Sofia, Bulgaria</p>
                <p class="email-id"></p>
                <h4>+359 896 745 707</h4>
            </div>
            <div class="col">
                <h3>You can also find us <div class="underline"><span></span></div>
                </h3>
                    <p>London, UK</p>
                    <p>Amsterdam, Netherlands</p>
                    <p>Vienna, Austria</p>
                    <p>Kavala, Greece</p>
            </div>
            <div class="col">
                <h3>Socials <div class="underline"><span></span></div>
                </h3>
                <div class="socials">
                    <a href=""><img src="../Images/facebook-icon.png"  height="100" ></a>
                    <a href=""><img src="../Images/instagram-icon.png"></a>
                    <a href=""><img src="../Images/x-icon.png"></a>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">Fitness Tracker <br>
            All rights reserved.</p>
            </footer>

</body>
</html>