@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/user-profile.css" asp-append-version="true" />
</head>
<body>

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
</body>