<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js" crossorigin></script>
</head>

<body>

    <!-- Placeholder for React app -->
    <div id="root"></div>
    
   <!-- content should be here -->
    <script type="text/babel" src="../headerComponent.js"></script>

    <script type="text/babel">
        ReactDOM.render(<Header />, document.getElementById('root'));
    </script>
    <script src="../script.js"></script>

</body>

</html>
