
.header {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    text-align: center;
}

/*Form Filters */

#filterSection {
    padding: 10px;
    margin: 40px 0;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    background-image: linear-gradient(135deg, #c8c6c6, #a0d8ef);
    color: #fff;
}

.filters-heading {
    padding: 25px 0;
    color: #fff;
}

#recipeNameFilter, #ingredientsFilter, #minHours, #minMinutes, #maxHours, #maxMinutes, #caloriesMinFilter,
#caloriesMaxFilter, #carbsFilter, #proteinFilter, #fatsFilter {
    border-radius: 15px;
    border: none;
}

.form-sections {
    padding: 15px 0;
}

#filter-btn {
    background-color: #c8c6c6;
    color: #fff;
    padding: 2px 150px;
    margin: 30px 0;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}




/*Recipes Section*/

#displaySection {
    width: 100%;
    /* margin: 20px;*/
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.recipes-heading {
    padding: 60px 0px 0px 0px;
    color: black;
    font-size: 40px;
}


#scrapeButton {
    color: #fff;
    background-image: linear-gradient(135deg, #c8c6c6, #a0d8ef);
    margin: 30px 0;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.sections {
    width: 100%;
}

.recipe_details {
    background-color: #fff;
}

.sections .recipe-name {
    color: black;
    font-weight: bold;
    padding-top: 30px;
}

.description {
    padding: 12px 0px 0px 0px;
    margin: 0px 0px 35px 30px;
    color: black;
}

/*Ingredients*/

.ingredients {
    padding: 12px 0px 0px 0px;
    margin: 0px 0px 35px 30px;
}

.bold-numbers {
    list-style: none;
    counter-reset: bold-counter;
}

    .bold-numbers li:before {
        content: counter(bold-counter);
        counter-increment: bold-counter;
        font-weight: bold;
        margin-right: 0.5em;
    }

.intructions {
    padding: 12px 0px 0px 0px;
    margin: 0px 0px 35px 30px;
}


/*pagination*/

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

    #pagination ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    #pagination li {
        margin: 0 4px;
    }

    #pagination a {
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
    }

        #pagination a:hover {
            background-color: #f5f5f5;
        }


/*button scroll*/

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    text-align: center;
    line-height: 40px; /* Adjust this value to vertically center the icon */
}

    #scrollToTopBtn:hover {
        background-color: #e0e0e0;
    }

    /* Assuming you're using Font Awesome, adjust the styles accordingly */
    #scrollToTopBtn i {
        color: black; /* Adjust the color of your icon */
        font-size: 20px; /* Adjust the size of your icon */
    }
